@charset "utf-8";

/**
*
* global: サイト共通
*
*/

/*----------------------------------------------------
    reset()
----------------------------------------------------*/
/*! ※下記reset.cssに少し変更を加えている模様
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,ins,kbd,q,samp,small,strong,
sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,
figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body{line-height:1;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
nav ul{list-style:none;}
ul,ol,li,dl,dt,dd{list-style-type:none;list-style-position:outside;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:none;}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;}
ins{text-decoration:none;}
img{vertical-align:top;border:0;}
del{text-decoration:line-through;}
hr{display:block;height:0;border:0;margin:0;padding:0;}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}
table{border-collapse:collapse;border-spacing:0;}
em,strong{ font-weight: bold;}
input,select,textarea{margin:0;padding:0;vertical-align:baseline;}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold;}
img {max-width: 100%;}
/*----------------------------------------------------
    head
----------------------------------------------------*/
head {
    font-family: pc;
}
/* @TB */
@media all and (max-width: 1024px) {
    head {
        content: "tb";
    }
}
/* @SP */
@media all and (max-width: 767px) {
    head {
        content: "";
        font-family: sp;
    }
}

/*----------------------------------------------------
    html
----------------------------------------------------*/
html {
    overflow-y: scroll;
}

/*----------------------------------------------------
    body
----------------------------------------------------*/
body {
    font-family: "Lato", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    line-height: 1.8;
    color: #3d3d3d;
    -webkit-text-size-adjust: 100%;
}

/* @SP */
@media all and (max-width: 767px) {
    body {
        min-width: 320px;
        font-size: 12px;
    }
}
